<html>
    <h1>Les gossips</h1>
    <p>Voici tous les gossips</p>
    <table class="table">
        <tbody>
            <tr>
                <td> Titre </td>
                <td> Contenu </td>
                <td> Auteur</td>
            </tr>
            <p>
                <a href="<%= new_gossip_path %>" class="btn btn-success">Créer un nouveau gossip</a>
            </p>

            <% @gossip.each do |gossip| %>
            <tr>
                <td><%= gossip.title %></td>
                <td><%= gossip.content %></td>
                <td><%= gossip.anonymous_gossiper%></td>
                <td>
                    <a href="<%= gossip_path(gossip.id) %>" class="btn btn-dark">Voir le gossip</a>
                    <a href="<%= edit_gossip_path(gossip.id) %>" class="btn btn-default">Éditer</a>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</html>