<h1>Création d'un gossip</h1>

<%= form_for @gossip do |f|%>
	<div class="form-group">
		<label>Ton Pseudo</label>
		<%= f.text_field :anonymous_goossiper, class: 'form-control' %>
	</div>

	<div class="form-group">
		<label>Entre titre</label>
		<%= f.text_field :title, class: 'form-control' %>
	</div>

	<div class="form-group">
		<label>Écrit ton potin</label>
		<%= f.text_area :content, class: 'form-control' %>
	</div>

	<div class="form-group">
    	<%= f.submit "Valider", class: 'btn btn-success' %>
  	</div>

<% end %>